* {
  box-sizing: border-box;
}

body {
  background-color: #111010;
  color: #c6c6c6;
}

.container {
  display: flex;
  gap: 60px;
  max-width: 1160px;
  padding: 20px 30px;
  margin: 50px auto 30px;
}

.sidebar {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 25px;
}

.sidebar > * {
  white-space: nowrap;
  text-decoration: none;
  color: #737373;
  font-size: 20px;
  padding: 7px 15px;
  border-radius: 5px;
}

.sidebar > *:hover {
  color: #f5f5f5;
}

.sidebar > *:focus {
  background-color: #2c2c2c;
}

.loading-container {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  font-size: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 47em) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    flex-direction: row;
    align-items: center;
  }
}
